#login-forma {
    width: 100%;
}

input[text] {
    width: 50%;
}

#logo {
    margin-left: 45%;
    margin-right: 45%;
}

#footer {
    position: absolute;
    right: 0%;
    left: 0;
    bottom: 0;
    padding: 1%;
    text-align: center;
    background-color: dodgerblue;
}