#login-forma {
    width: 100%;
}

input[text] {
    width: 50%;
}

#logo {
    margin-left: 45%;
    margin-right: 45%;
}

#footer {
    position: absolute;
    right: 0%;
    left: 0;
    bottom: 0;
    padding: 1%;
    text-align: center;
    background-color: dodgerblue;
}

#login-div {
    margin-left: 35%;
    margin-right: 35%;
}

h4 {
    color: dimgray;
    text-align: center;
    padding-bottom: 1rem;
}

label {
    padding-left: 0.5rem;
    color: gray;
    font-weight: bold;
}

#login-btn {
    margin-left: 1rem;
    width: 40%;
    margin-top: 2rem;
}

#register-btn {
    width: 40%;
    margin-left: 2rem;
    margin-top: 2rem;
}